// navbar
.navbar-atas {
    margin-top: 20px;
    .navbar {
        .container {
            .collapse {
                margin-left: 30px;
                .d-flex {
                    .btn-primary {
                        width: 125px;
                        color: #fff;
                        background-color: black;
                        border-color: black;
                        border-radius: 0px;
                        font-weight: 400;
                        font-style: 20px;
                        padding: 10px 9px;
                    }
                }
                .navbar-nav {
                    .nav-item {
                        margin-right: 72px;
                        .nav-link {
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}

// home
.home {
    .container {
        .row {
            .brand {
                width: 317px;
                height: 238px;
            }
            .title {
                width: 500px;
                text-align: center;
                margin-bottom: 42px;
                h2 {
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 59px;
                    width: 439px;
                    height: 59px;
                }
                p {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29px;
                }
                .btn {
                    background-color: rgba(0, 0, 0, 1);
                    color: #fff;
                    margin-top: 10px;
                }
            }
        }
    }
    .dua {
        margin-bottom: 90px;
        pict {
            margin-left: 37px;
            width: 256px;
            height: 256px;
        }
    }
}

// just
.shop {
    margin-top: 10px;
    h2 {
        font-size: 48px;
        font-weight: 400;
        line-height: 43px;
        margin-bottom: 58px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .one {
        width: 500px;
        height: 500px;
        margin-bottom: 41px;
    }
    h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;
        margin-bottom: 25px;
        a {
            text-decoration: none;
            color: black;
        }
    }
    .best {
        width: 300px;
        height: 400px;
        margin-bottom: 25px;
        justify-content: center;
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        margin-bottom: 41px;
    }
    .row {
        padding-left: 130px;
        h3 {
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
            text-align: center;
            margin-bottom: 40px;
            a {
                text-decoration: none;
                color: black;
            }
        }
        img {
            width: 300px;
            height: 300px;
            margin-bottom: 68px;
        }
    }
}

// service
.service {
    padding-bottom: 125px;
    .container {
        padding-left: 152px;
        .card {
            width: 882px;
            height: 836px;
            border-radius: 10px;
            border: 1px solid #cccccc;
            text-align: center;
            h2 {
                font-size: 48px;
                font-weight: 400;
                line-height: 59px;
                text-align: center;
                margin-bottom: 62px;
            }
            .row {
                margin-right: 41px;
                img {
                    width: 384px;
                    height: 200px;
                    align-items: center;
                    margin-left: 41px;
                }
                h5 {
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 29px;
                    text-align: center;
                    margin-top: 9px;
                    margin-bottom: 24px;
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 20px;
                    text-align: center;
                    width: 360px;
                    margin-left: 45px;
                }
            }
        }
    }
}

// contact us
.kontak {
    padding-bottom: 214px;
    .container {
        padding-left: 150px;
        .card {
            width: 882px;
            border: none;
            background-color: #f6f6f6;
            border-radius: 0px;
            padding-bottom: 56px;
            h4 {
                margin-top: 59px;
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
            }
            .contact-form {
                label {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 20px;
                    display: flex;
                    margin-left: 240px;
                }
                input {
                    width: 400px;
                    height: 38px;
                    border-radius: 4px;
                    border: 2px solid #767676;
                    margin-top: 0px;
                }
                textarea {
                    width: 400px;
                    height: 120px;
                    border-radius: 4px;
                    border: 1px solid #767676;
                    box-decoration-break: none;
                    margin-bottom: 20px;
                }
                button {
                    width: 400px;
                    height: 38px;
                    border-radius: 4px;
                    background-color: black;
                    color: white;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 23px;
                    text-align: center;
                }
            }
        }
    }
}

// about
.about {
    background-color: #f9f9f9;
    margin-left: 8px;
    margin-right: 8px;

    .container {
        border: none;
        padding-top: 190px;
        align-items: center;
        padding-bottom: 140px;
        .card {
            width: 880px;
            margin-left: 50px;
            h4 {
                font-size: 28px;
                font-weight: 400;
                line-height: 34px;
                text-align: center;
                margin-top: 44px;
                margin-bottom: 24px;
            }
            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
                margin-left: 20px;
                margin-bottom: 18px;
            }
        }
    }
}

// news
.news {
    margin-bottom: 234px;
    h4 {
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;
        margin-bottom: 19px;
        margin-top: 28px;
    }
    .card {
        width: 1000px;
        height: 150px;
        border: 1px solid #d5d5d5;
        margin-left: 140px;
        margin-bottom: 20px;
        .berita {
            img {
                width: 80px;
                height: 80px;
                float: left;
                margin-top: 21px;
                margin-left: 35px;
                margin-right: 45px;
            }
            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 22px;
                margin-top: 47px;
            }
        }
    }
}
